html, body {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(-45deg, #9caee7, #b0d8e7, #c3dbe4, #a4d0dd);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

nav {
    padding:0 10px;
    line-height: 32px;
    height: 100%;
    background-color: #80b5ea ;
}

.row::after {
    margin: 1%;
}

#main-container {
    /* height: 80%; */
    flex: 1 0 auto;
    margin: 0;
}

#search-card {
    height: 100%;
    padding: 3%;
    padding-top: 1%;
    /* margin: 10px; */
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; /* Sit on top */
    padding: 0;
    width: 25%; /* Full width */
    overflow: auto; 
}

  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 0;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
    text-align: center;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* .collection-item {
    display: none;
} */

#results {
    /* max-height: 100%; */
    padding: 1% 2%;
}

footer {
    width: 100%;
    margin-bottom: 0px;
    background-color: #eee;
    flex-shrink: 0;
}

#footer-text {
    margin: 5px;
    text-align: center;
}

#stats-graph-container, #testing-centers, #county-info {
    border: 1px solid rgb(179,182,186);
    border-radius: 5px;
    padding: 1% 2%;
    background-color: rgb(255,255,255,0.5)
}

#testing-list {
    margin: 0;
    border: none;
}


#img-wrapper, td {
    text-align: center;
    vertical-align: middle;
    max-width: 100%;
}

tr {
    border: none;
}

.stats-wrapper {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
}

#county-info {
    margin-bottom: 0;
    padding: 1% 2%;
}

.us-covid {
    font-size: 25px;
}

#about-us {
    font-size: large;
}

#about-us:hover, .us-covid:hover {
    background-color:transparent;
    color: rgb(199,200,201);
}

#state-stats {
    text-align: center;
}

.stats-wrapper p {
    margin: 2% 0 2% auto;
}

#total-tested, #positive, #negative, #hospitalized, #deaths, #update-date {
    margin-right: auto;
    margin-left: 0;
}

.graph-modal {
    width: 1000px;
}

#loc0, #loc1, #loc2, #loc3, #loc4 {
    border-bottom: none;
    padding-left: 0;
}

h5 {
    font-weight: bold;
}

#clear-btn, #submit-btn {
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:rbg(142, 204, 240);
	background-color:#bddbfa;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc
}

#submit-btn {
    position:absolute;
    padding:0;
    top: 25%;
    height: auto;
    width: 40px;
    border-radius: 50%;
}

#clear-btn:hover, #submit-btn:hover {
    background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}

#county-url:hover {
    color: darkblue;
}

.jumbo {
    /* background-color: #41b3a3; */
    min-height: 30%;
    position: relative;
    margin: 0;
    width: 100%;
}

#title {
    position:absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: white;
    font-weight: bolder;
}

small {
    font-size: 50%;
}

.large-header {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    height: 100%;
    background-image: url("https://www.pcclean.io/wp-content/gallery/hexagon-hd-wallpapers/Hexagon-3.png");
    z-index: -3;
 }

 .bgback {
    background-image: linear-gradient(to bottom, white, black);
    opacity: 0.6;
    z-index: -2;
    height: 100%;
 }

 .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(142, 204, 240) 50%, #09f 50%);
    bottom:0;
    left:0;
    opacity:.4;
    position:absolute;
    right:0;
    top:0;
    z-index:-1;
    overflow: hidden;
    max-width: 100vw;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }

  .bg4 {
    animation-direction:alternate-reverse;
    animation-duration:12s;  
    background-image: linear-gradient(-150deg, rgb(142, 204, 240) 50%, #09f 50%);
  }

  @keyframes slide {
    0% {
      transform:translateX(-20%);
    }
    100% {
      transform:translateX(20%);
    }
  }

#form-container {
    margin: 0 auto;
}

::placeholder {
    font-size: 12px;
    font-weight: bold;
}

label {
    font-size: 15px;
    font-weight: bold;
    /* margin-top: 2%; */
    color: white
}

form {
    height: 100%;
    background-color: rgb(74,110,168);
    margin-bottom: 1%;
}

input {
    margin-bottom: 0;
    color: white;
    font-size: 15px;
}

input[type=text]:not(.browser-default){
    height:2em;
}

#search-input-container {
    margin:0 0 1% 0; 
    height:65px;
    position:relative;
}

#search-history-wrapper {
    /* background-image: linear-gradient(to bottom, #dce9f5 5%, #bed9f5 100%); */
    background: rgb(180,215,250,0.5);
    border-radius: 5px;
    padding: 2% 5%;
}

#search-history {
    margin-bottom:2%;
    border-radius: 5px;
}

.collection-item {
    background-color: rgb(255,255,255,0.5) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0px 1000px rgb(74,110,168,1) inset !important;
    -webkit-text-fill-color: white !important;
}

#city-search, #state-search {
    margin:1% 0;
}

.card-title {
    width: 100%;
    background: rgb(0,0,0,0.5);
    padding: 0 !important;
    text-align: center;
}

.modal-trigger {
    background: rgb(142, 204, 240)
}

.container {
    max-width: 100vw;
}